NEXT_PUBLIC_SITE_URL="https://premier-np-care.vercel.app"
NEXT_PUBLIC_BOOKING_URL="https://cal.com/virginie-chavannes-premiernpcare/20-minutes-consultation"

RESEND_API_KEY=""
CONTACT_TO_EMAIL=""
CONTACT_FROM_EMAIL="Premier NP Care <onboarding@resend.dev>"
