NEXT_PUBLIC_SITE_URL="https://premier-np-care.vercel.app"
NEXT_PUBLIC_BOOKING_URL="https://d2oe0ra32qx05a.cloudfront.net/?practiceKey=k_1_115955"

RESEND_API_KEY=""
CONTACT_TO_EMAIL=""
CONTACT_FROM_EMAIL="Premier NP Care <onboarding@resend.dev>"
